{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    {% bootstrap_css %}

</head>
<body>
    <h3>Página Inicial</h3>
    <img src="{% static '/img/ifce.png' %}" width="200">
    <button class="btn btn-danger ">oisamcç asclk </button>
    {% bootstrap_css %}
</body>
</html>